#container {
  width: 95%;
  margin-left: 2.5%;
}

.viz label {
  width: 100%;
  padding: 10px;
}

.code-highlight {
  display: inline;
  padding: 0.25em 0;
  background: #fdfd96;
  box-shadow:
    0.5em 0 0 #fdfd96,
    -0.5em 0 0 #fdfd96;
}

.tooltip-inner {
  text-align: left !important;
}

.hide-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

[jtk-scrollable-list] {
  position: relative;
}

.red-endpoint {
  filter: invert(57%) sepia(27%) saturate(2041%) hue-rotate(349deg)
    brightness(95%) contrast(88%);
}

.jtk-connector {
  z-index: 10;
  animation: fadeIn;
  animation-duration: 1s;
}

.jtk-connector:hover {
  filter: invert(57%) sepia(27%) saturate(2041%) hue-rotate(349deg)
    brightness(95%) contrast(88%);
}

.last-item {
  animation: pulse;
  animation-duration: 0.5s;
}

.popover {
  max-width: none !important;
}
