#container {
  width: 95%;
  margin-left: 2.5%;
}

.viz label {
  width: 100%;
  padding: 10px;
}

.viz > div {
  height: 400px;
}

.code-highlight {
  display: inline;
  padding: 0.25em 0;
  background: #fdfd96;
  box-shadow:
    0.5em 0 0 #fdfd96,
    -0.5em 0 0 #fdfd96;
}

.tooltip-inner {
  text-align: left !important;
}

.hide-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
